*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html {
    background: url('../img/columnas-4.JPG') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 26vh;
    height: 27vh;
}
.login{
    position: absolute;
    height: 62%;
}
.formulario{
    width:45vh;
    position: absolute;
    border-radius: 2vh;
    padding: 110% 10% 5%;
    top: 0vw;
    left: 55%;
    transform: translate(-52%);
    text-align: center;
    background: rgba(3, 3, 3, 0.089);
    box-shadow: 4px 4px 50px #000;
}
.formulario input,label,button{
    display: block;
    width: 70%;
    margin: 3% 0;
    margin-bottom: 2vh;
}
.formulario input{
    margin-left: 5vh;
    border:none;
    border-radius: 1.5vh;
    height: 4vh;
    background-color: rgba(53, 32, 54, 0.34);
    box-shadow: 1px 1px 2px black;
    color:white
}
.formulario button{
    margin-top: 3vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
    cursor:pointer;
    border:none;
    border-radius: 6vh;
    height: 5vh;
    background-color:rgba(32, 102, 81, 0.726);
    box-shadow: 1px 1px 2px black;
    color:white
}
.formulario button:hover{
    background-color:rgba(32, 114, 76, 0.938);
    box-shadow: 4px 4px 4px rgb(25, 46, 5);
}
#input-remember {
    position: fixed;
    color: rgba(255,255,255,5);
    height: 2vh;
    width: 2vh;
    margin: 0;
    padding: 0;
    box-decoration-break:slice;
    border-radius: 2em;
}
#remember{
    margin-left: 2vw;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.58);
    color: white;
    border-radius: 2em;
    padding: 0.4vw;

}
a{
    padding: 1vw;
    margin-left: 7vw;
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 2em;
    box-shadow: 1px 1px 2px black;
}
a:hover{
    background-color: rgba(0, 7, 6, 0.88);
    box-shadow: 4px 4px 4px rgb(1, 3, 0);
}
h3{
    font-family: Arial;
    color: white;
    margin: 2vh;
    padding: 0.5vw;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.46);
    box-shadow: 2px 2px 2px rgb(1, 3, 0);
}

