footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(46, 46, 46);
    color: aliceblue;
}
footer p{
    font-size: small;
}
iframe{
    width:100vw ;
    height:450px;
    border:0;
}
#social{
    display: flex;
    justify-content: space-between;
    margin:1em;
}
#social article{
    display: flex;
}
#social article a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 10vw;
    font-size: large;
}
#social article a i{
    padding-right: 1vw;
}
